<!DOCTYPE html>
<html lang="en" ng-app>

<head>
  <title>Calling RTC</title>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  [[#css]]webrtc/call/css/call.css[[/css]]
</head>

<body>
  <div class="container-fluid">
    <div class="row" ng-controller='RoomController'>
      <div class="span8" id="call-container">
        <div id="start-broadcasting"></div>

        <div id="remote-video-container">
          <h3>Remote</h3>
        </div>
      </div>

      <div class="span4" id="chat-tools">
        <div id="local-video-container">
          <h3>Me</h3>
        </div>

        <div id="chat">
          <h3>Message</h3>
          <ul id="chat-content">
            <li ng-repeat="message in room.messages">
              <strong>{{message.user}}</strong>: {{message.content}}
            </li>
          </ul>

          <form ng-submit="sendMessage()">
            <input type="text" ng-model="room.newMessage" placeholder="Send message"></input>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/webrtc/lib/notification.js"></script>
  <script src="/assets/webrtc/lib/PeerConnection.js"></script>
  <script src="/assets/webrtc/call/controllers/room.js"></script>

  <script>
  var roomId = "[[ roomId ]]";
  </script>
</body>

</html>