<html ng-app>

<head>
  <title>Calling RTC</title>

  <link rel="stylesheet" type="text/css" href="/assets/styles/call.js">
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/call/notification.js"></script>
</head>

<body>
  <div class="span12" ng-controller='RoomController'>
    <div id="call-container">
      <div id="start-broadcasting"></div>

      <div id="remote-video-container"></div>

      <table id="rooms-list"></table>

      <div id="left-bar">

        <div id="local-video-container"></div>

        <div id="chat-tools">
          <div id="chat">
            <ul id="chat-content">
              <li ng-repeat="message in messages">
                {{message.user}}: {{message.content}}
              </li>
            </ul>
          </div>

          <input type="text" ng-model="chatMessage"></input>
          <br/>
          <button class="btn" ng-click="sendMessage()">Send message</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script src="/assets/call/PeerConnection.js"></script>
<script src="/assets/call/controllers/room.js"></script>

<script>
var roomId = "[[ roomId ]]";
</script>