<!DOCTYPE html>
<html lang="en" ng-app>

<head>
  <title>Calling RTC</title>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
</head>

<body>
  <div id="flash"></div>
  <div ng-controller="UserCtrl">
    [[^user]]
    <a href="/home#/login" class="btn">Sign In To Call</a>
    [[/user]] [[#user]]
    <button class="btn" ng-click="call('[[username]]')">Call [[username]]</button>

    <button class="btn" ng-click="leaveMessage('[[username]]')">Leave a voice message for [[username]]</button>

    <div ng-show="showRecording">
      <div style="clear:both;">
        <video id="preview"></video>
      </div>

      <button class="btn" id="btn-record" ng-click="record()">Recording</button>

      <button class="btn" id="btn-stop" ng-click="stopRecord()">Stop Recording</button>

    </div>
    [[/user]]
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/call/notification.js"></script>
  <script src="/assets/call/RecordRTC.js"></script>
  <script src="/assets/call/controllers/user.js"></script>
</body>

</html>